@font-face {
    font-family: Pretendard;
    src: url('../../../font/PretendardVariable.ttf') format('truetype');
}
.login-completed {
    height: 100vh;
    background: #000000;
    display: grid;
    place-items: center;
    font-family: 'Pretendard';
    font-style: normal;
    color: #FFFFFF;
}

.login-completed__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 266px;
    .login-completed__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-completed__subheading {
            font-weight: 800;
            font-size: 19px;
            line-height: 35px;
            letter-spacing: 0.25em;
            margin: 12px 0 0 0;
        }
    }
    span {
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 27px;
        text-align: center;
        margin: 66px 0 84px;
    }
}


