// Import
// Login
@import "../src/Component/authentication/Login/Login";
@import "../src/Component/authentication/Login Complete/LoginCompleted";

// Signup
@import "../src/Component/authentication/Signup/Signup";
@import "../src/Component/authentication/Signup Complete/SignupCompleted";

// Calendar
@import "../src/Component/Calendar/Calendar";

// Reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

// Fonts
@font-face {
  font-family: "Pretendard";
  src: url("./font/PretendardVariable.ttf") format("truetype");
}

$mainFont: "Pretendard";

// Colors
$mainColor: #000000;
$textColor: #ffffff;
